<div class="section">
	<ul class="news">
		<li>
			<h2><a href="#">PIC</a></h2>
			
<!-- 			<p>&nbsp;</p> -->
			
			<div class="section">
				<ul class="ads large">
					<li>
					    <a><%= link_to image_tag( url_for_file_column("pic", "image_url", "thumb" )), :controller => "pics", :action => "show", :id => @pic.id %></a>

						<br>
					    <div class="popular">
					 		<ul>
								<li>scores
									<dl class="meta">
										<dt class="comments">Comments</dt> <dd><a href="#"><%= @pic.scores.ceil %> </a></dd>
									</dl>
								</li>
								<li>wins
									<dl class="meta">
										<dt class="comments">Comments</dt> <dd><a href="#"><%= @pic.wins %> </a></dd>
									</dl>
								</li>
								<li>losses
									<dl class="meta">
										<dt class="comments">Comments</dt> <dd><a href="#"><%= @pic.losses %> </a></dd>
									</dl>
								</li>
							</ul>
							<p><a href="#">See history pick</a></p>
						</div>
					</li>
				</ul>
				
			</div>
			
		</li>
	</ul>
</div>

<!-- 

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %> -->