<div class="section">
	<ul class="news">
		<li>
			<h2><a href="#">PICK  PIC</a></h2>
			
			<div class="tweetmeme_button">
				<div class="tweetmemebutton">
					<a class="count" href="#" title="Failure: Invalid Story URL specified"><span class="c">Percent</span><br/><span class="t"> <%= @pickPercentage %>  /  <%= @picSum %></span></a>
					<!--<a class="retweet" title="" href="#">retweet</a>-->
			  </div>
			</div>
			
			<p>&nbsp;</p>
			
			<div class="section">
				<ul class="ads big">
					<li>
<!-- 						<a href="#"><img src="images/ads/ad-270-1.jpg" alt="ad img desc" /></a> -->
					    <a><%= image_tag( url_for_file_column("l_pic", "image_url", "medium" ), :id => "lpic", :class=>"image_wrapper fl_image") %></a>
						<br>
					    <div class="popular">
					 		<ul>
								<li>scores
									<dl class="meta">
										<dt class="comments">Comments</dt> <dd><a href="#"><%= @l_pic.scores.ceil %> </a></dd>
									</dl>
								</li>
								<li>wins
									<dl class="meta">
										<dt class="comments">Comments</dt> <dd><a href="#"><%= @l_pic.wins %> </a></dd>
									</dl>
								</li>
								<li>losses
									<dl class="meta">
										<dt class="comments">Comments</dt> <dd><a href="#"><%= @l_pic.losses %> </a></dd>
									</dl>
								</li>
							</ul>
							<p><a href="#">See history pick</a></p>
						</div>
					</li>
					<!-- <li>
						<div class="popular">
		                  <%= link_to "Next Pick", :controller => "picks", :action => "new" %>
		             	</div>
	             	</li> -->
					<li>
<!-- 						<a href="#"><img src="images/ads/ad-270-2.jpg" alt="ad img desc" /></a> -->
						<a><%= image_tag( url_for_file_column("r_pic", "image_url", "medium" ), :id => "rpic", :class=>"image_wrapper fl_image" ) %></a>
					    <br>
						<div class="popular">
							<ul>
								<li>scores
									<dl class="meta">
										 <dd><a href="#"><%= @r_pic.scores.ceil %> </a></dd>
									</dl>
								</li>
								<li>wins
									<dl class="meta">
										 <dd><a href="#"><%= @r_pic.wins %> </a></dd>
									</dl>
								</li>
								<li>losses
									<dl class="meta">
										<!--<dt class="comments">Comments</dt>-->
										 <dd><a href="#"><%= @r_pic.losses %> </a></dd>
									</dl>
								</li>
							</ul>
							<p><a href="#">See history pick</a></p>
						</div>		
					</li>
				</ul>
				
			</div>
			
		</li>
	</ul>
</div>

<div class="section"> 
	<h2>&nbsp;</h2>
	<ul class="news">
		
		<!-- Post Content - start -->
		<li>
			<h2><a href="#">to be continued...</a></h2><!-- Title -->
		</li>
	</ul>
	<!-- Pagination - end -->
</div>

<% form_tag "pickView", :id => 'form' do -%>
  
<div>
	<input id="l_pic_id" name="l_pic_id" value=<%= @l_pic.id %> type="hidden" />
	<input id="r_pic_id" name="r_pic_id" value=<%= @r_pic.id %> type="hidden" />
	<input id="tmp_pic_id" name="tmp_pic_id" value=<%= @r_pic.id %> type="hidden" />
</div>

<%= submit_tag "提 交", :class => "submit", :type =>"hidden" %>

<% end %>

 <script language="JavaScript" type="text/JavaScript">

 	lpic.onclick = function(){
 	//	alert("l");
 		form.submit();
	}
	rpic.onclick = function(){
	//	alert("r");
		document.getElementById('tmp_pic_id').value = document.getElementById('r_pic_id').value;
	 	document.getElementById('r_pic_id').value = document.getElementById('l_pic_id').value;
	 	document.getElementById('l_pic_id').value = document.getElementById('tmp_pic_id').value;
		form.submit();
	}

 </script>
