<div class="section">
	<ul class="news">
		<li>
			<h2><a href="#">Upload</a></h2>
			
			<p>You can upload any picture...</p>
				<div class="comment">
				<% form_for @picc, :url => { :action => "uploadView" } , :html => { :multipart => true } do |f| %>
<!-- 					 <%= @picc.errors.full_messages %> -->
					<fieldset>
						<ul>
							<li class="half">
								<%= f.label :title, '名称' %>
								<%= f.text_field :title %>
								<font color="red"><%= @picc.errors[:title]%></font>
							</li>
							<li>
								<%= f.label :image_url, '图片' %>
								<%= file_column_field 'pic', 'image_url' %>
								<font color="red"><%= @picc.errors[:image_url] %></font>
							</li>
							<li>
								<%= f.label :description, '描述' %>
								<%= f.text_area :description, :size => "22x5" %>
								<font color="red"><%= @picc.errors[:description] %></font>
							</li>
							<li>
								<%= f.submit "上传" %>
							</li>
						</ul>
					</fieldset>
				
				<% end %>
			</div>
		</li>
	</ul>
	
</div>


